

main {
    padding: 30px 0;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;


}

h1 {
    margin: 0;
    text-align: center;

}

h2 {
    margin: 0;
    text-align: center;

}

footer {
    padding: 20px 0;
    text-align: center;
    background-color: aliceblue;

}

body {
    margin: 0;
    font-family: 'Inconsolata', sans-serif;
    font-size: 22px;
    background-color: snow;
    background-size: cover; /* Add this line */
}
.site-title img {
   height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;


}


nav {

}

