{% extends 'layout.html.twig' %}

{%  form_theme sortieForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Créer une sortie | {{ parent }}{% endblock %}

{% block main %}
    <h2>Add your idea!</h2>

    {{ form_start(ideaForm) }}
    {{ form_widget(ideaForm) }}


    <input type="submit" value="Send" class="btn btn-success" />

    {{ form_end(ideaForm) }}

{% endblock %}