<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}sortir{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <h1> Sortir.com </h1>
     <header>

     </header>
    <main>
    {% block main %}

        {% endblock %}

    </main>
    <footer>

    </footer>
    </body>
</html>
